################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MachineTest2026/bin/Debug/net7.0
/MachineTest2026/obj
